body {
  margin: 0;
}

h1 {
  font-family: "Encode Sans SC", sans-serif;
  text-align: center;
}

.photo-grid {
  margin: 50px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 10px;
  justify-content: center;
}

.photo {
  height: 200px;
  width: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.photo img {
  cursor: pointer;
  width: auto;
  height: 200px;
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  z-index: 1000;
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-arrow,
.right-arrow {
  font-family: "Trochut", "Arial", "Tahoma", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  font-size: 5rem;
}

.left-arrow:before {
  content: "<";
  margin-right: 20px;
}

.right-arrow:before {
  content: ">";
  margin-left: 20px;
}

#lightbox-photo {
  max-width: 60%;
  border: 5px solid white;
}

@media (hover: hover) {
  .photo:hover {
    transform: scale(1.03);
  }

  .left-arrow:hover,
  .right-arrow:hover {
    cursor: pointer;
    color: white;
    text-shadow: 0 0 10px white;
  }
}
